.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #242529;
  border-radius: 6px;
  box-shadow: 8px 0 32px 0 #000000;
}

h3, .task{
  color: #E2EBF0
}

h3{
  font-size: 2.3em;
  margin: auto 30px;
  margin-bottom: 1em;
}

.task{
  font-size: 1.3em;
  margin: 5px;
}

hr{
  border-color: #808080;
}



.addCampo{
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.addCampo input[type = "text"]{
  background: transparent;
  color: #E2EBF0;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.addCampo button{
  padding: 3px 8px;
  border: none;
  background: #E2EBF0;
  cursor: pointer;
  border-radius: 2px;
}

.addCampo button:hover{
  padding: 3px 8px;
  border: none;
  background: gray;
  cursor: pointer;
}

